* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 120%;
}

/* ===== HEADER === */

.header-logo {
  cursor: pointer;
  margin: 0 5rem 0 20rem;
}

.searchBar {
  outline: none;
  border: 1px solid #dddddd;
  background: #fafafa;
  border-radius: 4px;
  width: 15rem;
  font-size: 1.4rem;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20rem;
}

.icon {
  font-size: 1.2rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.img-icon {
  margin: 1rem 0.5rem;
  cursor: pointer;
}

/* ===== Profile-section === */

.profile-section {
  margin: 1rem 25rem 2rem 25rem;
  height: 30rem;
}

.profile-info-container {
  display: flex;
}

.profile-info {
  margin-top: 2rem;
}

.profile-img-container {
  margin-top: 4rem;
}

.avatar {
  margin: 0.5rem 5rem 6rem 5rem;
}

.profile-row-1,
.profile-row-2 {
  display: flex;
  align-items: center;
}

.noskro {
  margin-right: 3rem;
  font-size: 2rem;
}

.btn-profile {
  font-size: 1.2rem;
  width: 7rem;
  padding: 0 0.4rem;
  margin: 0.2rem;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  cursor: pointer;
}

.btn-profile-2 {
  font-size: 1.2rem;
  width: 1.7rem;
  margin: 0.2rem;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  cursor: pointer;
}

.btn-profile-virgin {
  font-size: 1.2rem;
  width: 1.7rem;
  margin: 0.2rem;
  border: none;
  background-color: #fafafa;
  cursor: pointer;
}

.strange-btn {
  vertical-align: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

.follower {
  font-size: 1rem;
  margin: 1rem 3.8rem 1rem 0;
}

.info-title {
  font-size: 1.3rem;
}

.info-link {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.scotch {
  font-size: 1.2rem;
}

.info {
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
  color: #010101;
}

.follower2 {
  font-size: 1rem;
  color: #444;
}

/* Image bar */

.profile-img-container {
  display: flex;
  margin-top: 5px;
}

.profile-img {
  text-align: center;
  margin: 0 1.5rem;
}

.profile-icon {
  cursor: pointer;
}

.profile-img-title {
  font-size: 1.2rem;
  margin-top: -1rem;
  cursor: pointer;
}

/* ===== GALLERY === */

.gallery-section {
  margin: 0 25rem;
}

.gallery-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #dddddd;
}

.gallery-nav-item {
  font-size: 1.2rem;
  margin: 1rem 2rem;
}

.gallery-images {
  border: red 1px dotted;
}

.inner-img {
  margin: 0.7rem 1rem;
  width: 21rem;
}
