* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 120%;
}

/* ===== HEADER === */

.header-logo {
  cursor: pointer;
  margin: 0 5rem 0 20rem;
}

.searchBar {
  outline: none;
  border: 1px solid #dddddd;
  background: #fafafa;
  border-radius: 4px;
  width: 15rem;
  font-size: 1.4rem;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20rem;
}

.icon {
  font-size: 1.4rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

/* ===== Profile-section === */

.profile-section {
  margin: 1rem 25rem 2rem 25rem;
  height: 30rem;
  border: 1px dotted red;
}

.profile-info-container {
  display: flex;
}

.profile-info {
  margin-top: 2rem;
  border: 1px dotted green;
}

.profile-img-container {
  margin-top: 4rem;
}

.avatar {
  margin: 0.5rem 6rem 5rem 3rem;
}

.profile-row-1,
.profile-row-2 {
  display: flex;
  align-items: center;
}

.noskro {
  margin-right: 4rem;
  font-size: 2.3rem;
}

.btn {
  font-size: 1.2rem;
  margin: 0.2rem;
}

.follower {
  font-size: 1.2rem;
  margin-right: 2rem;
}

.info-title {
  font-size: 1.5rem;
}

.info-link {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.scotch {
  font-size: 1.4rem;
}

.info {
  font-size: 1.3rem;
}

.bold {
  font-weight: bold;
  color: #010101;
}

.follower2 {
  font-size: 1.1rem;
  color: #444;
}

/* ------ */

.profile-img-container {
  display: flex;
}

.profile-img {
  text-align: center;
  margin: 0 1.5rem;
}

.profile-icon {
  cursor: pointer;
}

.profile-img-title {
  font-size: 1.2rem;
  margin-top: -0.8rem;
  cursor: pointer;
}
